<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OsgNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <userSettings>
        <OsgNet.Properties.Settings>
            <setting name="OSG_UseThread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OSG_ThreadPriority" serializeAs="String">
                <value>Lowest</value>
            </setting>
            <setting name="OSG_UseTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OSG_TimerInterval" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="OSG_UseGraphicsThread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OSG_NumSamples" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="OSG_Stencil" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OSG_Depth" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="OSG_Red" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OSG_Green" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OSG_Blue" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OSG_Alpha" serializeAs="String">
                <value>8</value>
            </setting>
        </OsgNet.Properties.Settings>
        <Tool.Properties.Settings>
            <setting name="OSG_UseThread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OSG_ThreadPriority" serializeAs="String">
                <value>Lowest</value>
            </setting>
            <setting name="OSG_UseTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OSG_TimerInterval" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="OSG_UseGraphicsThread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OSG_NumSamples" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="OSG_Stencil" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OSG_Depth" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="OSG_Red" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OSG_Green" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OSG_Blue" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OSG_Alpha" serializeAs="String">
                <value>8</value>
            </setting>
        </Tool.Properties.Settings>
    </userSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
